gas-booking/n8n-line-bot.json
{
  "name": "SiS Freight - LINE Bot v2",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "LINE Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "sis-freight-line",
      "parameters": {
        "httpMethod": "POST",
        "path": "sis-freight-line",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "node-respond",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node-if",
      "name": "Is 'work' message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-work",
              "leftValue": "={{ ($json.body?.events ?? [])[0]?.message?.text?.toLowerCase()?.trim() }}",
              "rightValue": "work",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-gas-summary",
      "name": "Get Upcoming Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [880, 200],
      "parameters": {
        "method": "GET",
        "url": "https://script.google.com/macros/s/AKfycbyUzhb2Yo1_dWM3VgaSOVc1OGDlMvGMkQQuqB7QrcwnY-ci4d3yIC-lgCRZvPkeyGOahg/exec",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "getupcomingsummary"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "node-format",
      "name": "Format LINE Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200],
      "parameters": {
        "jsCode": "const summary = $input.item.json;\nconst replyToken = $('LINE Webhook').item.json.body.events[0].replyToken;\n\nconst items = summary.items || [];\nconst count = items.length;\n\n// Build date range label (tomorrow → +3 days)\nconst now = new Date();\nconst opts = { timeZone: 'Asia/Bangkok', day: '2-digit', month: '2-digit', year: 'numeric' };\nconst fmtD = d => d.toLocaleDateString('th-TH', opts);\nconst tomorrow = new Date(now);\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst endDay = new Date(tomorrow);\nendDay.setDate(endDay.getDate() + 3);\nconst rangeStr = fmtD(tomorrow) + ' – ' + fmtD(endDay);\n\n// Group items by date\nconst groups = {};\nconst order = [];\nitems.forEach(item => {\n  if (!groups[item.date]) { groups[item.date] = []; order.push(item.date); }\n  groups[item.date].push(item);\n});\n\nconst SEP = '──────────────';\n\nlet msg = '📊 สรุปการจอง\\n';\nmsg += rangeStr + ' · ' + count + ' รายการ\\n';\nmsg += SEP + '\\n';\n\nif (count === 0) {\n  msg += 'ไม่มีรายการจองในช่วงนี้';\n} else {\n  order.forEach(dateStr => {\n    const dayItems = groups[dateStr];\n    msg += '\\n📅 ' + dateStr + ' (' + dayItems.length + ' คัน)\\n';\n    dayItems.forEach((item, i) => {\n      msg += (i + 1) + '. ' + item.name + '\\n';\n      msg += '   🚛 ' + item.cartype + '  📦 ' + item.amount + '  📍 ' + item.location + '\\n';\n    });\n  });\n  msg += SEP + '\\n';\n  msg += 'รวม ' + count + ' รายการ';\n}\n\nreturn [{ json: { replyToken, message: msg.trim() } }];"
      }
    },
    {
      "id": "node-line-reply",
      "name": "Reply to LINE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ replyToken: $json.replyToken, messages: [{ type: 'text', text: $json.message }] }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "LINE Webhook": {
      "main": [
        [{ "node": "Respond 200", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200": {
      "main": [
        [{ "node": "Is 'work' message", "type": "main", "index": 0 }]
      ]
    },
    "Is 'work' message": {
      "main": [
        [{ "node": "Get Upcoming Bookings", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Upcoming Bookings": {
      "main": [
        [{ "node": "Format LINE Message", "type": "main", "index": 0 }]
      ]
    },
    "Format LINE Message": {
      "main": [
        [{ "node": "Reply to LINE", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false
}
